* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
  background: #e9eff5;
}

.App {
  display: flex;
  justify-content: center;
}

#chart {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  overflow: visible;
}

.line {
  fill: none;
  stroke: #08c;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
  fill: #08c;
  stroke: #fff;
  cursor: pointer;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  background: #08c;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
}

.x-label {
  transform: rotate(-45deg) translateX(-12px);
}
